.audioPlayer {
  position: relative;
  border: 1px solid white;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: left;
  align-items: left;
  gap: 0.5rem;
}
.canvas {
  background-color: rgba(133, 196, 252, 0.596);
}
.imageContainer {
  width: 100%;
  height: 200px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.animationWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.playPause {
  border: 1px solid white;
  padding: 0.3rem;
  width: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  padding: 0.5rem;
}
.labels {
  width: 90%;
  margin: 0;
}

.audioPlayer > input[type="range"] {
  -webkit-appearance: none; /* Remove default styling (Safari, Chrome) */
  appearance: none;
  width: 100%;
  height: 15px;
  margin: 0;
  background: none; 
  border-radius: none;
  border: 1px solid white;
  outline: none;
  transition: background 0.3s;
}
.audioPlayer > input[type="range"]:hover {
  background: #824cce; /* Lighter track on hover */
}

/* Custom thumb (the draggable circle) */
.audioPlayer > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 10px;
  background: none; /* Thumb color */
  border-radius:0%;
  border: 1px solid white;
  cursor: pointer;
  transition: transform 0.2s;
}

.audioPlayer > input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2); /* Make the thumb larger on hover */
}

.audioPlayer > input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white; /* Thumb color */
  border-radius: 0%;
  border: 1px solid white;
  cursor: pointer;
}
