.page {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;

}

.categoryWrapper {
  width: 90%;
  max-width: 65ch;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: left;
}

.entryTitle {
  font-style: italic;
}