.page {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  padding: 2rem 0;
}

.categoryWrapper {
  width: 90%;
  max-width: 95ch;
  line-height: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: left;
}
.entryWrapper {
  list-style: none;
  margin: 0.3rem 0;
}
.entryTitle {
  border: 1px solid white;
  padding: 0.2rem;
  font-style: italic;
}
.entryDescription {
  display: inline;
}
.entryLink {
  display: inline-block;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0 0.1rem;
  border: 1px solid white;
}