.main {
  padding: 2rem;
  margin-bottom: 5rem;
  width: 100%;
}
.webPreviewWrapper {
  position: relative;
  width: 500px;
  height: 20rem;
  pointer-events: none;
  margin: 4rem auto;
}
.webPreview {
  width: 1000px;    
  height: 800px;    
  transform: scale(0.5);
  transform-origin: top left;
  border: none;
}

.infoWrapper {
  width: 100%;

  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.main p {
  max-width: 55ch;
}

.mixcloudWrapper {
  width: 90%;
  max-width: 20rem;

  margin: 2rem auto;
  display: flex;
  flex-flow: column wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 599px) {
  .page {
    margin: 0;
    padding: 1rem;
  }

  .main {
    margin: 0;
    padding: 0 0.5rem;
    align-items: center;
  }
  .mixcloudWrapper {
    width: 100%;
  }


}